# Build
pykasso.egg-info/
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

notebooks/geometry/geometry_??/**
notebooks/geometry/geometry_???/**
notebooks/paper/example_??/**